doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/semantic/semantic.min.css")
		script(src="/javascripts/jquery-3.1.1.min.js")
		script(src="/semantic/semantic.min.js")
		//script(src="/javascripts/chart.js/dist/Chart.bundle.js")
		script(src="/Highcharts-5.0.7/code/highcharts.js")
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(name="viewport", content="width=device-width,initial-scale=1.0, minimum-scale=1")
	body
		div
				#menu_left_hide.ui.sidebar.inverted.vertical.menu.left  
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Información
								.content
									.menu.transition.hidden
										a.item Resumen
										a.item Entradas
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Acciones
								.content
									.menu.transition.hidden
										a.item 
										a.item Medida 2
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Registros
								.content
									.menu.transition.hidden
										a.item Históricos
										a.item Eventos
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Configuración
								.content
									.menu.transition.hidden
										a.item Parámetros
										a.item Conectividad
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Ayuda
								.content
									.menu.transition.hidden
										a.item Ayuda de SGM Udenar
										a.item Acerca de...
				#menu_top.ui.fixed.inverted.menu
					.ui.container
						a#m_btn.launch.icon.item
							i.content.icon
						.item
							| SGM Udenar
						.right.menu
							.vertically.fitted.borderless.item
								.ui.button Alternar
			
				
				#mainpage.dimmed.pusher
					#menu_left(style="left: 0px; right: 0px;top: 0px;width: 200px !important").ui.sidebar.inverted.vertical.menu.left
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Información
								.content.active
									.menu
										a.item Resumen
										a.item Entradas
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Acciones
								.content
									.menu.transition.hidden
										a.item 
										a.item Medida 2
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Registros
								.content
									.menu.transition.hidden
										a.item Históricos
										a.item Eventos
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Configuración
								.content
									.menu.transition.hidden
										a.item Parámetros
										a.item Conectividad
						.item 
							.ui.inverted.accordion
								.title
									i.dropdown.icon
									span Ayuda
								.content
									.menu.transition.hidden
										a.item Ayuda de SGM Udenar
										a.item Acerca de...
					block content
				script.
					$('.ui.accordion')
						.accordion()
					;
					$(function(){
						$('#m_btn').on('click',function(e){
							e.preventDefault();
							//$('#menu_left_hide').sidebar('setting', 'transition', 'overlay')
							$('#menu_left_hide').sidebar('toggle');
						});
					});
					$(function(){
						$('#menu_left').addClass("visible");
					})
