a {
  color: #00B7FF;
}

.article {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 0px;
}

@media screen and (min-width:600px) {
  #menu_top{
    display:none;
  }
  #mainpage{
    margin-left: 260px;
  }
}


@media screen and (max-width:600px) {
  #menu_left{
    display:none;
  }
  #mainpage{
    margin-top: 40px;
  }
}

